body{
    background-color: blue;
    color: aliceblue;
    padding: 20px;
    font-family: 'Moon Dance', cursive;
}

.container{
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

.header{
    background-color: aqua;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img{
    width: auto;
    height:80% ;
    margin: 10px;
    border-radius: 200px ;
    border: 10px solid #000000;
    box-shadow: 0px 0px 57px 11px rgba(0,0,0,1);
}



.navi{
    background-color: rgb(203, 3, 3);
    height: auto;
}

ul,li{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    list-style: none;
    flex: 100%;
}

ul li{
    width: 20%;
}

a{
    display: block;
    text-decoration: none;
    
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #ffffff;
    transition-property: all ;
    transition-duration: 2s;
}

li:hover a{
    background-color: #ff0000;
}




.main{
    display: flex;
    height: auto;
}

.content{
    flex: 60%;
    background-color: aquamarine;
    height: auto;
    padding: 10px;
}

.Post{
    margin: 20px;
    display: flex;
    color: #000000;
    background-color: beige;
    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}

.Post .Text{
    width: auto;
    justify-content: center;
}

.Post img{
     height: 300px; 
     width: 300px;    

} 

.sidebar{
    flex: 30%;
    background-color: rgb(124, 124, 124);
    height: auto;
}

.footer{
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    
}

.footer img{
    
    height: 200px;
}

.Columns{
    height: 200px;
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: aqua;   
}

.column{
    border-radius: 15px;
    border: solid 2px rgb(0, 0, 0);
    background-color: beige;
    min-width: 200px;
    margin: 20px;
    transition-property: all ;
    transition-duration: 2s;
}

.Columns:hover .column{
    background-color: rgb(255, 255, 0);
}

.ll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    
}
    
.slider{
    width: 1100px;
    height:600px;
    overflow:hidden;
    border: 3px solid #ffffff
}


.niz{
    display: flex;
    justify-content: center;
}



.bar{
    height: 8px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffffff;
    opacity: .5;
    border-radius: 10px;
    transition: all .6s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
    background-color: hidden;
}

input{
    width: 400%;
    height: 100%;
    display: flex;
}



.slidder{
    width: 25%;
    transition: all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}


.S2{
    width: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgb(111, 18, 18) , rgb(75, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}



.slider1{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;

}


@keyframes rotate{
    0%{
        transform: perspective(1000px) rotate(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: contain;
    transition: 2s;
}    










